<div class="row">
    <div class="content-header">
        <h1>Contas bancárias <small>{{ sub_title }}</small></h1>
        <div class="grey-text">
            <small>
                <a href="#/">iFinance</a> >
                <a href="#/contas">Suas contas</a> >
                <span>Suas contas</span>
            </small>
        </div>
    </div>
    <div class="card col s12">
        <div class="card-content">
            <form class="row" autocomplete="off">
                <div class="input-field col s12">
                    <h5>Dados da conta</h5>
                </div>
                <div class="input-field col s6">
                    <input class="validate" id="title" type="text" placeholder="Como você prefere identificar esta conta?" required>
                    <label class="active" for="title">Título da conta</label>
                </div>
                <div class="input-field col s6">
                    <input class="validate" id="balance_initial" type="text" placeholder="Qual o valor inicial desta conta?" required>
                    <label class="active" for="title">Valor inicial</label>
                </div>
                <div class="input-field col s6">
                    <select class="browser-default">
                        <option value="0">Escolha um banco</option>
                        <option class="left circle">Banco (000)</option>
                    </select>
                    <label class="active" for>Qual seu banco?</label>
                </div>
                <div class="input-field col s6">
                    <input class="validate" id="agency" type="number" placeholder="Qual o número da sua agencia?" required>
                    <label class="active" for="agency">Número da agência</label>
                </div>
                <div class="input-field col s6">
                    <input class="validate" id="account_number" type="number" placeholder="Qual o número da sua conta?" required>
                    <label class="active" for="accont_number">Número da conta</label>
                </div>
                <div class="input-field col s6">
                    <input class="waves-effect waves-light btn-large blue-grey darken-4" type="submit" value="salvar">
                </div>
            </form>
        </div>
        <div class="card-action">
            <a href="#/contas">Voltar</a>
        </div>
    </div>
</div>
